body {
    background-color: #E7E7E7;
}

header {
    font-size: x-large;
    text-align: center;
}

footer {
    text-align: center;
}

.wheelNav {
    height: 350px;
    width: 350px;
    margin: auto;
}

.wheelNavSmall {
    height: 100px;
    width: 100px;
    margin: auto;
}

@media (max-width: 480px) {
  .wheelNav {
    height: 200px;
    width: 200px;
  }

  .wheelNavSmall {
    height: 80px;
    width: 80px;
  }
}
